<footer id="footer-section">
    
  <div class="footer-main">
    <div class="footer-contact">
      
      <div class="footer-contact-detail">
        <div class="footer-contact-detail_image">
          <img class="footer-icon" src="https://www.neurocat.ai/wp-content/themes/neurocat/img/icon-14.png" alt="">
        </div>
        <div>
          <h4>
            Address
          </h4>
          <p>
            ABC Berlin xyz strasse 12345 Berlin Germany
          </p>
        </div>
      </div>
      
      <div class="footer-contact-detail">
        <div class="footer-contact-detail_image">
          <img class="footer-icon" src="https://www.neurocat.ai/wp-content/themes/neurocat/img/icon-15.png" alt="">
        </div>
        <div>
          <h4>
            Email
          </h4>
          <p>
            meow@example.com
          </p>
        </div>
      </div>

      <div class="footer-contact-detail">
        <div class="footer-contact-detail_image">
          <img class="footer-icon" src="https://www.neurocat.ai/wp-content/themes/neurocat/img/icon-16.png" alt="">
        </div>
        <div>
          <h4>
            Phone
          </h4>
          <p>
            +49 (0) 12 345 67 891 <br> Skype: abc GmbH
          </p>
        </div>
        
      </div>

    </div>

    <div class="footer-contact-form">
      <h3>Get in touch</h3>
      <form action="/action_page.php">
        <label for="name">Name*</label><br>
        <input type="text" id="name" name="fname" required><br>
        <label for="email">Email*</label><br>
        <input type="email" id="email" name="email" required><br>
        <label for="phone">Phone*</label><br>
        <input type="number" id="phone" name="phone" required><br><br>
        <label for="message">Message*</label><br>
        <textarea rows="4" cols="50" name="comment" form="usrform" required>
          </textarea>
        <input type="submit" value="Submit">
      </form> 
    </div>
  </div>
  
 </footer>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="index.js"></script> -->
</body>
</html>