<div class="hero">
    
    <div class="hero-about">
        <div class="hero-about-aiQuality">
            <img class="hero-about-aiQuality_image" src="https://www.neurocat.ai/wp-content/uploads/2018/11/neurocat_website_ai-quality_f2.png" alt="Home">
        </div>
        <div>
            <h1 class="hero-about-heading">
                Neurocat
            </h1>
            <p class="hero-about-details">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia repellendus similique quo adipisci deleniti ipsa nisi minus error iure,
                cupiditate blanditiis accusamus aliquid vel dolor sint excepturi eaque placeat libero! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Et accusamus, minima debitis enim voluptatem iste dolores provident vel vero, delectus illo consectetur,
                sapiente quidem! Nihil omnis illo iste nemo soluta?
            </p>
        </div>
    </div>

</div>