<div class="hero">
    
    <div class="hero-about">
        <div class="hero-about-aiQuality">
            <img class="hero-about-aiQuality_image" src="https://www.neurocat.ai/wp-content/uploads/2018/11/neurocat_website_ai-quality_f2.png" alt="Home">
        </div>
        <div>
            <h1 class="hero-about-heading">
                Artificial Intelligence Safety, Security & Privacy
            </h1>
            <p class="hero-about-details">
                Neurocat undertakes foundational mathematical research, consulting and devops in the area of AI robustness, comprehensibility,
                functionality and ethics. Our goal is to make AI technology safe and secure for both industry and society.
            </p>
        </div>
    </div>

    <div class="hero-about-mission">
        <div class="hero-about-mission_mission">
            <div>
                <img src="https://www.neurocat.ai/wp-content/uploads/2018/05/about.jpg" alt="" class="neurocat-mission">
            </div>
            <div>   
                <h3>Our Mission</h3>
                <p >
                    The neurocat GmbH was founded in 2017 with the goal of shaping our modern world through the use of AI safety & security technologies. Today, we help companies to implement modern AI systems that are safe & secure with respect to functionality, comprehensibility and robustness.
                    With the help of our quality tools we can also help you to develop reliable AI solutions for your business.
                </p>
            </div>
            
        </div>
        <div class="hero-about-mission_mission">
            <div>
                <img src="images/vision.jpg" alt="Neurocat Mission" class="neurocat-mission">
            </div>
            <div>
                <h3>Our Vision</h3>
                <p >
                    „We are drowning in information but starved for knowledge“ – John Naisbitt. Neurocat strives to live in an explainable digital world, where society benefits from safe, accessible and transparent AI technologies.
                    Our goal is to build up trust and confidence for AI solutions by integrating innovative AI Quality applications.
                </p>
            </div> 
        </div>
    </div>

</div>

<div class="hero-services" id="hero-services-section">
    <div class="hero-services-products">
        <img class="hero-services_image" src="https://www.neurocat.ai/wp-content/uploads/2018/11/cat.png" alt="">
        <div class="hero-services-products-description">
            <h3>AI Quality Services</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa totam, recusandae sit</p>
        </div>
    </div>
    <div class="hero-services-products">
        <a href="/aidkit">
            <img class="hero-services_image" src="https://www.neurocat.ai/wp-content/uploads/2018/11/aidkit.png" alt="">
        </a>
            <div class="hero-services-products-description">
                <a href="/aidkit">
                    <h3>aidkit</h3>
                </a>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa totam, recusandae sit</p>
            </div>
        
    </div>
    <div class="hero-services-products">
        <img class="hero-services_image" src="https://www.neurocat.ai/wp-content/uploads/2018/11/deeptrust_siegel.png" alt="">
        <div class="hero-services-products-description">
            <h3>DeepTrust</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa totam, recusandae sit</p>
        </div>
    </div>
</div>

<div class="hero-infographic" id="hero-infographic-section">

    <div id="testimonials">

        <div id="testimonial-carousel" class="carousel slide" data-ride="false">
          <div class="carousel-inner">
            <div class="carousel-item active container-fluid">
                <div class="hero-infographic-carousel" >
                    <img src="https://www.neurocat.ai/wp-content/uploads/2018/11/Research.png" alt="AI Research">
                    <h3>Research</h3>
                    <p>Our mathematicians, ML experts, computer and data scientists research for major companies
                        in the areas of AI (Module/Data) robustness, comprehensibility, functionality, privacy and
                        ethical frameworks. Only a deep understanding of the AI algorithms and related data sets
                        allows for the reliable safeguarding against failure over the entire lifecycle of AI applications.
                    </p>
                </div>
            </div>

            <div class="carousel-item container-fluid">
                <div class="hero-infographic-carousel" >
                    <img src="https://www.neurocat.ai/wp-content/uploads/2018/11/Consulting.png" alt="AI Research">
                    <h3>Consulting</h3>
                    <p>Boost the value of your AI products by building up trust. For this you will need to develop robust,
                         understandable, regulatory, safe and secure AI algorithms – and our consulting team can give you the necessary support to achieve this goal!
                    </p>
                </div>
            </div>

            <div class="carousel-item container-fluid">
                <div class="hero-infographic-carousel" >
                    <img src="https://www.neurocat.ai/wp-content/uploads/2018/11/Analysis.png" alt="AI Research">
                    <h3>Analysis</h3>
                    <p>We analyze your data and AI models with respect to robustness, comprehensibility, functionality, privacy and ethic. 
                        Our experts use unique and state-of-the-art metrics and methods from our AI Analysis Toolkit (aidkit.ai) and in this
                         way detect vulnerabilities early on to safe costs and risks.
                    </p>
                </div> 
            </div>

            <div class="carousel-item container-fluid">
                <div class="hero-infographic-carousel" >
                    <img src="https://www.neurocat.ai/wp-content/uploads/2018/11/Debugging.png" alt="AI Research">
                    <h3>Optimization</h3>
                    <p>The elimination of vulnerabilities in modern AI technologies is one of our core competencies. 
                        We can detect and remove crucial weaknesses and errors – regardless of whether they stem from robustness, 
                        comprehensibility or general performance issues. Our goal is to ensure AI safety, security and privacy.
                    </p>
                </div> 
            </div>

            <div class="carousel-item container-fluid">
                <div class="hero-infographic-carousel" >
                    <img src="https://www.neurocat.ai/wp-content/uploads/2018/11/Improvement.png" alt="AI Research">
                    <h3>Governance</h3>
                    <p>The approach of neurocat is holistic along the entire AI life cycle. Our task fields range from the optimization
                        of the training, model, datas and specifications of an AI product up to the anomaly or misusage detection. 
                        In some of these areas neurocat is a leading worldwide provider of AI quality solutions.
                    </p>
                </div> 
            </div>

            <div class="carousel-item container-fluid">
                <div class="hero-infographic-carousel" >
                    <img src="https://www.neurocat.ai/wp-content/uploads/2018/11/DevOps.png" alt="AI Research">
                    <h3>DevOps</h3>
                    <p>Our experienced AI developers support our customers in development, deployment and operation. 
                        The results from our AI Research and AI Analysis can be directly integrated into the customers’ AI products.
                    </p>
                </div> 
            </div>

          </div>
          <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
    </div>
</div>

<div class="hero-projects">
    <div>
        <img class="hero-projects_image" src="https://www.neurocat.ai/wp-content/uploads/2018/06/our-vision.jpg" alt="">
    </div>
    <div class="hero-projects-description">
        <h3>
            Our Non-Profit Projects
        </h3>
        <ul>
            <li>Open Source Analysis, Optimization and Debugging Framework #aidkit.ai</li>
            <li>Chairman Germany DIN/ISO/IEEE/IEC JTC1 SC42 – Artificial Intelligence</li>
            <li>Initiator DIN SPEC (PAS) 92001-1/-2 Requirements Life Cycle Artificial intelligence</li>
            <li>VDA Leitinitiative “Protection of AI-based computer vision modules”</li>
            <li>SAE/DIN SPEC (PAS) “Taxonomy Autonomous Driving”</li>
        </ul>
    </div>
</div>

<div class="hero-projects">
    <div class="hero-projects-description">
        <h3>
            Our Work on DIN standard
        </h3>
        <ul>
            <li>Chairman Germany DIN/ISO/IEEE/IEC JTC1 SC42 – Artificial Intelligence</li>
            <li>Initiator DIN SPEC (PAS) 92001-1/-2 Requirements Life Cycle Artificial intelligence</li>
            <li>SAE/DIN SPEC (PAS) “Taxonomy Autonomous Driving”</li>
        </ul>
    </div>
    <div>
        <img class="hero-projects_image" src="https://www.neurocat.ai/wp-content/uploads/2018/06/finalcordcloud.png" alt="">
    </div>
</div>

<div class="hero-customer">
    <h2>Customer Voice</h2>
</div>

<div class="hero-customerVoice">

    <div id="testimonials">

        <div id="testimonial-carousel1" class="carousel slide" data-ride="false">
          <div class="carousel-inner">
            <div class="carousel-item active container-fluid">
                <div class="hero-infographic-carousel" >
                    <h3>Name 1</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis illum incidunt ipsa, doloribus amet quidem excepturi voluptatum porro, minus ex laborum molestias dolor, officiis minima? Dignissimos vero aspernatur dolore magni?
                    </p>
                </div>
            </div>

            <div class="carousel-item container-fluid">
                <div class="hero-infographic-carousel" >
                    <h3>Name 2</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, facere deleniti? Voluptatum illo, dolores quibusdam quam beatae dicta reprehenderit, harum cumque delectus est amet corporis velit ducimus inventore perspiciatis corrupti.</p>
                </div>
            </div>

            <div class="carousel-item container-fluid">
                <div class="hero-infographic-carousel" >
                    <h3>Name 3</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium, rem nam dolorem harum nesciunt veniam repellat consequatur accusantium sequi non exercitationem libero autem alias necessitatibus sapiente quasi sit fugit. Eligendi?
                    </p>
                </div> 
            </div>

          </div>
          <a class="carousel-control-prev" href="#testimonial-carousel1" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#testimonial-carousel1" role="button" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
    </div>
</div>

<div class="hero-team" id="hero-team-section">   
    
    <img src="https://www.neurocat.ai/wp-content/uploads/2018/05/our-team.jpg" alt="">

    <div class="hero-team-description">
        <h3>
            Team
        </h3>
        <p>
            Our team of 25 mathematicians, computer scientists and industrial engineers brings together the best of both worlds,
            combining academic with application perspectives and experiences. With different backgrounds, skill sets and a unifying desire to grow,
            learn and understand the world through modern technology our team is the essence of neurocat.
            We are based in the innovation and business incubator Berlin-Adlershof which gives us,
            together with its close proximity to the Humboldt-University of Berlin, the opportunity to build a strong network of like-minded people.
        </p>
    </div>
      
</div>
