<div class="kit-main">
    <div class="kit-main-description">
        <div class="kit-main-description_child">
            <img class="kit-main-side_image" src="https://www.neurocat.ai/wp-content/uploads/2018/11/neurocat_website_aidkit_gui.jpg" alt="aidkit side image">
        </div>
        <div class="kit-main-description_child">
            <img class="kit-main-aidkit_image" src="https://www.neurocat.ai/wp-content/uploads/2018/11/addkit-hori.png" alt="aidkit">
            <p>
                Is an open source AI analysis, optimization and debugging platform.
                It will support prototyping, deployment and operation. <br><br>
                Save time, money and stress during your AI analysis by using the biggest collection of optimization,
                vulnerability detection and debugging tools.
            </p>
        </div>
    </div>
</div>
