<div class="kit-main">
    <div class="kit-main-description">
        <div class="kit-main-description_child">
            <img class="kit-main-side_image" src="https://www.neurocat.ai/wp-content/uploads/2018/11/neurocat_website_aidkit_gui.jpg" alt="aidkit side image">
        </div>
        <div class="kit-main-description_child">
            <img class="kit-main-aidkit_image" src="https://www.neurocat.ai/wp-content/uploads/2018/11/addkit-hori.png" alt="aidkit">
            <p>
                Is an open source AI analysis, optimization and debugging platform.
                It will support prototyping, deployment and operation. <br><br>
                Save time, money and stress during your AI analysis by using the biggest collection of optimization,
                vulnerability detection and debugging tools.
            </p>
        </div>
    </div>
    <video class="kit-main-infographic" autoplay loop muted >
        <source src="videos/infographic.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>

      <div class="kit-main-solution">
          <div class="kit-main-solution_child">
              <div class="kit-main-solution_child_image">
                <img src="images/testbed.png" alt="Aidkit Testbed and Monitor">
              </div>
              <div class="kit-main-solution_child_description">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis, vero. Alias neque facere delectus, culpa dicta optio aliquam, voluptate pariatur fugit quibusdam quaerat maxime explicabo odit totam? Nisi, asperiores consequuntur!
                </p>
              </div>
          </div>

          <div class="kit-main-solution_child">
            <div class="kit-main-solution_child_description kit-description_responsive">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, sit. Ullam dolorum cupiditate sunt aut? Quidem, nobis laboriosam, cumque sint dolores minus eos ab, eaque ipsum harum impedit earum!</p>
            </div>
            <div class="kit-main-solution_child_image">
                <img src="images/addon.png" alt="Aidkit AddOn protect & explain">
            </div>
        </div>
      </div>

</div>
