/* Fonts */

@font-face {
    font-family: weblySleek_ui;
    src: url(../WeblySleek_UI/weblysleekuisl.ttf) format("truetype");
}

/* General */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "weblySleek_ui", sans-serif;
  line-height: 1.7;
  padding: 0 1.5rem;
  background-color: #f8f9facb;
  box-sizing: border-box;
  font-size: 1.6rem;
}

/* Navigation */

nav {
    margin: 0 1.2rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #3d545c;
    padding-right: 2rem;
    font-weight: 1000;
    /* font-size: 1.6rem; */
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #17a2b8;
}

/* Hero Section */

.hero {
    margin: 8rem 0;
    background: linear-gradient(to right,#33aaca,#4bb8b4);
    border-radius: 3px;
    color: #f8f8ff;
}

.hero-about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 10rem;
}

.hero-about-aiQuality_image {
    max-width: 50vh;
    padding-right: 4rem;
}

.hero-about-heading {
    text-align: center;
    /* padding-top: 4rem; */
    font-weight: 400;
    font-size: 4rem;
}

.hero-about-details {
    font-size: 2rem;
    font-weight: 400;
    padding: 2rem 12rem; 
}

.hero-about-mission {
    display: flex;
    justify-content: space-around;
    padding: 2rem 12rem;
}

.hero-about-mission_mission {
    max-width: 55rem;
    display: flex;
    align-items: center;
}

.hero-about-mission_mission h3 {
    font-size: 3rem;
    font-weight: bold;
}

.neurocat-mission {
    width: 12vw;
    padding-right: 4rem;
}

.hero-services {
    display: flex;
    justify-content: space-around;
}

.hero-services-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 7rem;
} 

.hero-services_image {
    max-width: 22rem;
    max-height: 14rem;
}

.hero-services-products-description {
    text-align: center;
}

.hero-services-products-description h3 {
    font-size: 3rem;
    padding-top: 3rem;
    font-weight: bold;
}

.hero-infographic {
    background: linear-gradient(to right,#33aaca,#4bb8b4);
    padding: 4rem 10rem;
    text-align: center;
    min-height: 50rem;
    color: #f8f8ff;
}

.hero-infographic-carousel {
    padding: 0 30rem;
}

.hero-infographic-carousel h3 {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 2rem;
}

.hero-projects {
    margin: 8% 17%;
    display: flex;
    justify-content: space-between;
}

.hero-projects_image {
    width: 25vw;
}

.hero-projects-description h3 {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 2rem;
}

.hero-projects-description li {
    list-style-type: none;
}

.hero-projects-description li:before {
    content: ">";
    color: #33aaca;
}

